#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

# This is a complete violation of Debian packaging standards since it bakes in the user's current
# environment (i.e. rustup + cargo) but it works fine for simply building the binary and shoveling
# it into a .deb package.
#
# I wanted to do this in a top-level Makefile and let , but dh creates a new empty $HOME for builds.
build-arch:
	cargo build --release

bindir=debian/dms10-config/usr/bin
override_dh_auto_install:
	mkdir -p $(bindir)
	cp -a target/release/dms10_config $(bindir)/
